# This is an example of what a JSON service account credentials
# downloaded from the Cloud console will look like
{
  "private_key_id": "key_id goes here",
  "private_key": "private key",
  "client_email": "client email",
  "client_id": "client_id",
  "type": "service_account"
}
